---
import HeaderLink from './HeaderLink.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---
<!doctype html>
<html lang="en">
    <head>
        
    </head>
    <body>
        <Header />
        <main>
        <h1>Boomer</h1>
        </main>	
    </body>