---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
---
<!doctype html>
<html lang="en">
	<head>
		
	</head>
	<body>
		<Header />
		<main>
		<h1>Astro</h1>
		</main>	
	</body>
</html>
